body{
    margin: 0;
    border: 0;
}
header {
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
}
.conteiner-booleaner{  
    margin: 0 auto;
    width: 80%;
    
}

#the-booleaner {
    width: 25%;
    margin: 0 auto;
    margin-top: 5%;
}
main {
    margin: 0 auto;
    width: 80%;
}
.title{
    margin-bottom: 20px;
}
#title-manifest {
    font-size: 250%;
    margin: 0 auto;
    font-weight: 800;
}
.autor-article{
    font-size: 125%;
}
.date-article{
    font-size: 80%;
}
.description-photo{
    font-size: 80%;
    margin: 0;
}
